<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes" thread-count="6">
    <test verbose="2" preserve-order="true" name="/Users/mrajputt/IdeaProjects/RestAssuredApi">
    <classes>
        <class name="RestApi"/>
        <class name="RestApi2"/>

    </classes>
    </test>
</suite>